/* Global Styles */
/**
 * Breakpoints
 * $px - Pixel width of breakpoint
 * $bp - Calculated breakpoint width
 * $cw - Calculated container width
 */
$large-font-size: 24px;
$medium-font-size: 16px;
$small-font-size: 12px;

$column: column;
$row: row;

$pre-sm: 400;
$px-sm: 600;
$px-md: 900;
$px-lg: 1200;
$px-xl: 1500;

$bp-pre-sm: $pre-sm / 16 * 1em;
$bp-sm: $px-sm / 16 * 1em;
$bp-md: $px-md / 16 * 1em;
$bp-lg: $px-lg / 16 * 1em;
$bp-xl: $px-xl / 16 * 1em;

$cw-sm: 100%;
$cw-md: $px-md / 16 * 1rem - 1rem;
$cw-lg: $px-lg / 16 * 1rem - 0.5rem;
$cw-xl: $px-xl / 16 * 1rem - 0rem;

$grid-breakpoints: ssm $bp-pre-sm $cw-sm, sm $bp-sm $cw-sm, md $bp-md $cw-md, lg $bp-lg $cw-lg, xl $bp-xl $cw-xl;

$breakpoints: xs;
@each $breakpoint in $grid-breakpoints {
  $name: nth($breakpoint, 1);
  $breakpoints: append($breakpoints, $name);
}

@mixin display-flex($type) {
  display: flex;
  flex-direction: $type;
  gap: 10px;
  @content;
}

@mixin mq($bp) {
  @if $bp == 'xs' {
    @content;
  } @else {
    @each $breakpoint in $grid-breakpoints {
      $name: nth($breakpoint, 1);
      $width: nth($breakpoint, 2);

      @if $bp == $name and $width {
        @media only screen and (min-width: #{$width}) {
          @content;
        }
      }
    }
  }
}

@mixin mq-max($bp) {
  @each $breakpoint in $grid-breakpoints {
    $name: nth($breakpoint, 1);
    $width: nth($breakpoint, 2) - 0.01em;

    @if $bp == $name and $width {
      @media only screen and (max-width: #{$width}) {
        @content;
      }
    }
  }
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

app-article-details {
  width: 100%;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}
